.product__name {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
}

.product__price {
    color: var(--theme-color);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
}

.color-dots-container {
    display: flex;
    gap: 5px;
}

.color-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .color-dots-container {
        gap: 3px !important;
    }
    .color-dot {
        width: 7px !important;
        height: 7px !important;
        border-radius: 50% !important;
    }

}