.product__name {
    color: var(--text-color);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
}

.product__price {
    color: var(--theme-color);
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
}

.element-color-dots-container {
    display: flex;
    gap: 5px;
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .color-dots-container {
        gap: 3px !important;
    }

    .element-color-dot {
        width: 10px;
        height: 10px;
    }
}